*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* .visually-hidden - скопирован из задания */
.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

/* Расположить элементы .content в строку, прижав к низу вертикальной оси. 
   Задать горизонтальные размеры .content и отступы между его элементами. */
.content {
  width: 1140px;
  height: 534px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  column-gap: 30px;
}

.result {
  width: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 16px;
}

/*
Задать размеры контейнеру .result__video-container и добавить отступ снизу.
*/
.result__video-container {
  position: relative;
  height: 386px;
  width: inherit;
}

.result__video {
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

/*
Расположить элементы .search-form в строку и пропорционально распределить между ними свободное пространство, прижать их к началу контейнера
*/
.search-form {
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.search-form__fieldset {
  border: none;
  height: 100%;
  width: fit-content; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
}

.search-form__label {
  width: fit-content;
  font-size: inherit;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.search-form__label:has(:focus) {
  outline: none;
}

.search-form__label:has(:focus-visible:not(:active)) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:hover > .search-form__label-text {
  cursor: pointer; 
  text-decoration: underline;
}

/*
управление размерами,
границей, 
цветом текста, 
семейством шрифта, 
размером шрифта, 
фоном. 
Некоторые из этих свойств не наследуются.
*/
.search-form__textfield {
  margin: 1px;
  width: 225px;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  background-color: inherit;

  appearance: none;

  color: rgba(255, 255, 255, 0.70);
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
}

.search-form__textfield:active {
  border: 1px solid #fff;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield:focus-visible {
  outline: none;
}

.search-form__textfield:hover {
  cursor: text;
  text-decoration: none;
}

.search-form__checkbox-list {
  height: 100%;
  max-width: 212px;

  display: flex;
  align-items: center;
  gap: 16px;
}

.search-form__pseudo-checkbox {
  cursor: pointer;
  display: inline-block;
  height: 19px;
  width: 19px;
  border: 1px solid #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  content: '';  
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1px;
  margin-left: 1px;
  height: 15px;
  width: 15px;
  background-color: #fff;
}

.search-form__label-text {
  padding-left: 4px;
}

.button {
  cursor: pointer; 
  border: 1px solid #fff;
  height: 34px;

  color: inherit;
  background-color: transparent;
  font-size: inherit;
  font-family: inherit;
  appearance: none;
  
  font-weight: 700;
}

.button:focus {
  outline: none;
}

.button:active {
  background-color: #545050;
}

.button:hover {
  text-decoration: underline;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__submit-button {
  width: 194px;
}

.more-button {
  margin: 1px;
  width: 399px;  
}

/*
Растянуть .content__details во всю доступную ширину и высоту контейнера и добавить отступы между заголовком и зоной с карточками.
*/
.content__details {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 26px;
  padding: 1px;
}

.title {
  font-family: Oswald;
  font-size: 75px;
  font-weight: 700;
  line-height: 0.94; /* 70.5px */
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

/*
Установить вертикальный размер для .content__list и добавить скролл при переполнении.
Создать вертикальные отступы между элементами .content__list-item (у всех, кроме последнего).
*/
.content__list {
  position: relative;
  height: 294px;
  padding: 1px;
  padding-top: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
  overflow: auto;
}

.content__list-item {
  display: block;
  height: 103px;
  width: calc(100% - 6px);
}

.content__card-link {
  height: inherit;
  display: block;
  color: inherit;
  text-decoration: none;
  background-color: #1b1919;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/*
Расположить элементы внутри контейнера .content__video-card в строку, прижав к началу контейнера по дополнительной оси.
*/
.content__video-card {
  height: inherit;
  display: flex;
  align-items: flex-start;
}

/*
Сделать так, чтобы .content__video-card-description-container занимал всё доступное пространство, не занятое картинкой.
*/
.content__video-card-description-container {
  height: inherit;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  overflow: hidden;
}

.content__video-card-title {
  max-width: 200px;
  font-family: Oswald, 'Fira Sans Condensed', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow-wrap: normal;
}

.content__video-card-description {
  max-width: 200px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 16px; /* 90% */

  text-overflow: ellipsis;
  white-space: break-spaces;
  overflow-wrap: normal;
}

/*
Задать размеры .content__video-card-thumbnail и замостить в них изображение.
*/
.content__video-card-thumbnail {
  height: inherit;
  width: 194px;
  object-fit: cover;
  object-position: 50% 50%;
}